.footer {
  width: 100%;

  height: 200px;

  background: url("./footer-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 16px;
}

.footer p {
  color: white;
}
